[submodule "alchemyServer"]
	path = alchemyServer
	url = git@github.com:ablepacifist/alchemyServer.git
[submodule "lexiconServer"]
	path = lexiconServer
	url = git@github.com:ablepacifist/lexiconServer.git
